<div class="modal-header">
  <h4 class="modal-title pull-left">Postagem</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="form-group">
        <textarea formControlName="content" class="form-control" placeholder="Postagem"></textarea>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-orange" type="submit" [disabled]="!form.valid">Salvar</button>
    </div>
  </form>
</div>
