/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "red": #f54b64,
  "orange": #f78361
);

@import "~bootstrap/scss/bootstrap";

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(59, 59, 59);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f54b64;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e22844;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.btn {
  border-radius: 60px;
}

.form-control,
.form-control:focus {
  border-radius: 50px;
  background-color: #303542;
  color: #ffffff;
}

textarea.form-control,
textarea.form-control:focus {
  border-radius: 20px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25) !important;
}

.bg-orange,
.btn-orange,
.badge-orange,
.alert-orange {
  color: #ffffff;
  background-image: linear-gradient(to right, #f54b64, #f78361);
}

.modal-dark .modal-content {
  background-color: #303542;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
}

.custom-alert {
  background-color: #303542 !important;
  color: #fff;

  .swal2-title {
    color: rgb(241, 241, 241) !important;
  }

  .swal2-content {
    color: inherit !important;
  }

  .swal2-success-circular-line-left,
  .swal2-success-circular-line-right,
  .swal2-success-fix {
    display: none;
  }
}
